<html lang="en">
    <head>
    </head>
    <body>
        <h1>E24 Standard Code Assignment</h1>
        <h3>Endpoints</h3>
        <ul>
            <li><a href="/varnish-log">Varnish log</a></li>
            <li><a href="/feed">VG Nett</a></li>
            <li><a href="/test-data">Test data</a></li>
        </ul>
    </body>
</html