html, body {
    margin: 0;
    padding: 0;
}

::selection {
    background: #f7b297;
}

a, p, strong, blockquote, em, i, b {
    font-family: 'Courier New';
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gill Sans', sans-serif;
}

a {
    color: #f16520;
}

.app__content {
    padding: 20px 10px 40px;
}

