html, body {
    margin: 0;
    padding: 0;
}

::selection {
    background: #f7b297;
}

a, p, strong, blockquote, em, i, b {
    font-family: 'Courier New';
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gill Sans', sans-serif;
}

a {
    color: #f16520;
}

.app__header {
    display: block;
    background-color: #F1F1F2;
    box-shadow: 1px 1px 2px rgba(40,40,40,.25);
    padding: 20px;
}

.app__header__title {
    display: inline-block;
}

.app__header__menu {
    display: inline-block;
    padding-right: 50px;
    transition: padding .2s ease-in-out;
}

.app__header__menu__link {
    padding: 10px 20px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 18px;
    color: #444e57;
    text-decoration: none;
    border: 1px dotted transparent;
    transition: color .2s ease-in-out;
    border-bottom: 2px solid transparent;
}

.app__header__menu__link.active {
    color: #444e57;
    border-bottom-color: #F16520;
}

.app__header__menu__link:hover {
    color: #F16520;
}

.app__header__menu__link:hover,
.app__header__menu__link:active,
.app__header__menu__link:focus {
    text-decoration: none;
}

.app__content {
    padding: 20px 10px 40px;
}

.app__footer {
    display: block;
    background-color: #444E57;
    padding: 40px;
}

.section {
    max-width: 800px;
    margin: 30px auto 0;
}

.section__title {
    font-family: 'Gill Sans', sans-serif;
}

.section__column h3 {
    padding-bottom: 5px;
    margin: 0 0 15px 0;
    border-bottom: 2px solid #f16520;
}